footer {
  position: sticky;
  bottom: 0;

  padding: 45px 0;
  background: #1d1d1d;
  color: #f7f7f7;
  display: grid;
  place-content: center;
  text-align: center;
  gap: 0.4rem;

  /* COMMENT THIS AND SEE THE CHANGES */
  max-width: 600px;
  margin-inline: auto;
  z-index: -1;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  color: #0ebac5;
}

/* OTHER STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  background-color: #0ebac5;
  min-height: 100vh;
  color: #111111;
}

.container {
  max-width: 600px;
  margin: 4rem auto 0;
  padding: 1em;
  background-color: #eef5ff;
  border-radius: 10px;
}

.container > *:not(:last-child) {
  margin-bottom: 1rem;
}

h1 {
  font-size: clamp(28px, 4vw, 42px);
  text-align: center;
  margin-top: 1rem;
}

h2 {
  font-size: clamp(20px, 2vw, 32px);
}

img {
  display: block;
  max-width: 100%;
  border: 2px solid #999999;
}
